.container{
    text-align: center;
   margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 30px;
    min-width: 412px;
    /* min-width: auto; */
    margin-bottom: 10px;
    border: 4px solid ;
    border-radius: 20px ;
}

button{
    font-size: 40px;
    background-color: aquamarine;
    width: 75px;
    height: 58px;
    border-radius: 20px;
    height: 59px;
    margin: 6px;
}

.calculator{
    display: inline-block;
    background-color: red;
    padding: 23px;
    border: 5px solid black;
    border-radius: 53px;
    
    
    /* max-width: 100%; */
}

